//  DA INSERIRE IN app.scss SOLO SE VIENE CANCELLATO
// style
// @import 'style';
@import 'layouts';

// utility class
.container-1200{
    @include width-1200
}
.flex-between{
    @include flex-between
}
// end utility class

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;

    nav{
        height: 80px;
        position: fixed;
        top: 0;
        width: 100%;
        // background: rgb(214, 207, 207);

        .nav-content-container{
            height: 80px
        }
        #logo-nav{
            height: 140px
        }
        .user-info-group{
            height: 80px;

            // .top-right {
            //     position: absolute;
            //     right: 10px;
            //     top: 18px;
            // }
            .login-links{
                line-height: 80px;

                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 20px;

                    &:last-child{
                        padding-left: 25px
                    }
                }
            }
        }
    }
}
.jumbotron-delivery{
    @include background-grd;
    margin-top: 80px;
    // width: 100%;
    // min-height: calc(100vh - 75px);
    // background: rgb(255,51,102);
    // background: linear-gradient(23deg, rgba(255,51,102,1) 0%, rgba(255,110,102,1) 25%, rgba(255,140,102,1) 60%, rgba(255,219,171,1) 100%);
    // padding: 50px 200px;

    .jumbotron-content-left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 560px;

        #logo-deliveboo{
            width: 180px
        }
        .input-group{
            width: 500px;

            .form-control{
                padding: 0 30px;
                font-size: 20px;
                height: 50px;
                border-radius: 25px;
                border: 1px solid #fff;
                border-top: none;
                border-left: none;
                border-right: 1px solid #fff;
                border-bottom: 1px solid #fff;
                background: none;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.5);
                  }
            }
        }
    }
    .jumbotron-content-right{

        // da sistemare
        #sushi-img{
            width: 300px;
            margin-top: 80px
        }
    }
}
main{

    .category-cards-container{
        display: flex;
        flex-wrap: wrap;

        .single-card-category{
            margin: 10px;
            text-align: center;
            width: 380px;
            height: 250px;
            line-height: 110px;
            background: rgba(255,219,171,1);

            &:hover{
                cursor: pointer;
            }
        }
    }
    .restaurant-container{
        display: flex;

        .single-card-restaurant{
            height: 600px;
            width: 400px;
            background: #fff;

            &-top{
                height: 50%;

                .single-restaurant-img{
                    height: 100%;
                    width: 100%
                }
            }
            &-bottom{
                height: 50%;
                padding: 25px
            }
        }

    }
    // .single-card-restaurant{
    //     width:
    // }
}

// slider CSS

// h2 {
// 	color: #696969;
// 	font-size: 26px;
// 	font-weight: 300;
// 	text-align: center;
// 	position: relative;
// 	margin: 40px 70px;
// 	text-transform: uppercase;
// 	font-family: 'Open Sans', sans-serif;
// }
// h2::after {
// 	content: "";
// 	width: 100%;
// 	position: absolute;
// 	margin: 0 auto;
// 	height: 1px;
// 	border-radius: 1px;
// 	background: #d4d4d4;
// 	left: 0;
// 	right: 0;
// 	bottom: 14px;
// }
// h2 span {
// 	display: inline-block;
// 	padding: 0 25px;
// 	background:#ebebeb;
// 	position:relative;
// 	z-index:2;
// }
// .carousel {
// 	margin: 0 auto;
// 	padding: 0 68px;
// }
// .carousel .carousel-item {
// 	text-align: center;
// 	overflow: hidden;
// 	height: 160px;
// }
// .carousel .carousel-item .img-box {
// 	background: #fff;
// 	padding: 9px;
// 	box-shadow: 0 6px 20px -6px rgba(0,0,0,0.4);
// }
// .carousel .carousel-item img {
// 	margin: 0 auto;
// }
// .carousel-control-prev, .carousel-control-next {
// 	width: 68px;
// 	background: none;
// }
// .carousel-control-prev i, .carousel-control-next i {
// 	font-size: 28px;
// 	position: absolute;
// 	top: 50%;
// 	display: inline-block;
// 	margin-top: -15px;
// 	z-index: 5;
// 	left: 0;
// 	right: 0;
// 	color: rgba(0, 0, 0, 0.8);
// 	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
// }
// .carousel-indicators {
// 	bottom: -40px;
// }
// .carousel-indicators li, .carousel-indicators li.active {
// 	width: 10px;
// 	height: 10px;
// 	border: none;
// 	border-radius: 50%;
// 	margin: 1px 4px;
// 	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
// }
// .carousel-indicators li {
// 	background: #999;
// 	border-color: transparent;
// }
// .carousel-indicators li.active {
// 	background: #555;
// }
// end slider CSS





// animated card

// .card-effect-container{
//     position: relative
// }
// .box{
// 	width: 300px; height: 200px;
// 	background-color: #DDFFF7;
// 	position: relative;
// 	box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
// }
// .box:after, .box:before{
// 	mix-blend-mode:multiply;
// 	filter:none;
// 	z-index: -1;
// 	content:'';
// 	width:calc(100% + (50px * 2));
// 	height:calc(100% + (50px * 2));
// 	position: absolute;
// 	display: block;
// 	animation: border 10s ease-in-out infinite;
// 	transform:translateX(-50px) translateY(-50px);
// }
// @keyframes border {
//   0%, 100% {
//     -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
//             clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
//   }
//   50% {
//     -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
//             clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
//   }
// }

// .box:after{
// 	animation-delay: -5s;
// 	background-color: #93e1d8;
// 	clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
// }
// .box:before {
// 	background-color: #AA4465;
// 	  clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
// }

// .box:hover:after{
// 	animation-delay: -0.1s;
// }

// end animated card
