.btn.btn-success.confirm-order{
    background: rgba(255,110,102,1);
    border: none
}
.payment-alert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 400px;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #333;
    border-radius: 7px;
    z-index: 100000000000;

    .modal-img{
        width: 180px;
        margin-bottom: 20px;
    }

    .payment-alert-text{
        font-size: 30px;
        color: #FF3966;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 30px;
    }
}
