

.plate-container{
    background: linear-gradient(23deg, rgba(255,51,102,1) 0%, rgba(255,110,102,1) 25%, rgba(255,140,102,1) 60%, rgba(255,219,171,1) 100%);
    width: 100vw;
    height: 100vh;
    .plate-center{
        width: 1200px;
        margin: 0 auto;
        height: 100%;
        .nav-one{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 80px;
        }

        .business-name{
            text-align: center;
        }

        .card-plate-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            background-color:  rgba(255,219,171,1);
            box-shadow: 5px 10px 18px rgba(255,51,102,1);

            .card-plate-container-left{
                width: 380px;
                height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;

                .space-card-plate-container-left{
                    margin: 15px 0 15px 0;
                }
            }

            .card-plate-container-right{
                width: 380px;
                height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                border-radius: 5px;
            }

        }

        .footer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

}

.utility-button{
    width: 182px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    cursor: pointer
}

.red{
    color: rgba(255,51,102,1);
}

@media screen and (min-width: 360px) and (max-width: 768px){
    .nav-one{
        width: 768px;
    }
}












