@import "button";

.utility-button-danger{
    @include utility-button-danger;
}

.utility-button-edit{
    @include utility-button-edit;
}

.utility-button-home{
    @include utility-button-home;
}
.plate-container{
    width: 100vw;
    min-height: 100vh;
    .plate-center{
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        .nav-one{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 80px;
        }

        .business-name{
            text-align: center;
        }

        .card-plate-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            background-color:  rgba(255,219,171,1);

            .card-plate-container-left{
                width: 380px;
                height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;

                .space-card-plate-container-left{
                    margin: 15px 0 15px 0;
                }
            }

            .card-plate-container-right{
                width: 380px;
                height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                border-radius: 5px;
            }

        }

        .footer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &-container{
                width: 400px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

}

.red{
        width: 182px;
        height: 40px;
        background: #fff;
        position: relative;
        border-radius: 32px;
        text-align: center;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        line-height: 40px;
        font-weight: semibold;
        box-shadow:2.5px 2.5px 2.5px grey;
        color: black;
        &:hover {
          box-shadow: inset 2.5px 2.5px 2.5px grey;
          color: red;
          background: #f3f0f1;
        }
        &:active {
          box-shadow: inset 2.5px 2.5px 2.5px grey;
          background: #f3f0f1;
        }
      }

      .none{
          border-style: none;
      }

      .imag{
          width: 100px;
      }

@media screen  and (max-width: 367px){
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            margin: 10px 0;
        }
    }
}












